<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        <div>
            <p>published: 27.09.2020, 11:13</p>
            <h2><a href="">장고를 잘하고 싶어요</a></h2>
            <p>장고를 잘하려면 어떻게 해야할까요? </p>
        </div>
        <div>
            <p>published: 27.09.2020, 11:15</p>
            <h2><a href="">Django Girls를 시작했어요</a></h2>
            <p>열심히 해서 성장하길 바래요!</p>
        </div>
    </body>
</html>